import(rgl)
import(lattice)
import(latticeExtra)
#import(mixtools)

import(survival)

import(MASS)
#import(lme4)
import(msm)
import(graphics)
import(grDevices)

# Imported functions
importFrom("nlme", lme)
importFrom("lme4", lmer)
importFrom("lme4", ranef)
importFrom("lme4", fixef)
importFrom("stats", na.exclude)
importFrom("stats", reshape)
importFrom("stats", var)
importFrom("stats", lm)
importFrom("stats", residuals)
importFrom("stats", qnorm)
importFrom("stats", cor)
importFrom("stats", coef)
importFrom("stats", median)
importFrom("stats", gaussian)
importFrom("stats", logLik)
importFrom("stats", qchisq)
importFrom("stats", runif)
importFrom("stats", density)
importFrom("stats", sd)
importFrom("stats", cov2cor)
importFrom("stats", glm)
importFrom("stats", rbinom)
importFrom("stats", qt)
importFrom("stats", vcov)
importFrom("stats", ecdf)
importFrom("stats", quantile)
importFrom("stats", "binomial")
#importFrom("survival", Surv)
#importFrom("survival", coxph)
importFrom("stats", "optim")
importFrom("utils", capture.output)
importFrom("stats", "coefficients", "na.omit", "pchisq")
importFrom("stats", "dnorm", "rnorm")

exportPattern("^[[:alpha:]]+")
export(plot.UnifixedContCont, plot.UnimixedContCont, plot.BifixedContCont, plot.BimixedContCont, 
plot.FixedContContIT, plot.ICA.ContCont, plot.MICA.ContCont, plot.MinSurrContCont, plot.SPF.BinBin,
plot.Single.Trial.RE.AA, plot.MixedContContIT, plot.ICA.BinBin, plot.TrialLevelMA, plot.FixedBinBinIT, summary.UnifixedContCont, 
summary.UnimixedContCont, summary.BifixedContCont, summary.BimixedContCont,
summary.FixedContContIT, summary.FixedContContIT, summary.ICA.BinBin, summary.ICA.ContCont, 
summary.MICA.ContCont, summary.MinSurrContCont, summary.SPF.BinBin, summary.Single.Trial.RE.AA, 
summary.TrialLevelMA, summary.TwoStageSurvSurv, summary.Prentice, summary.PredTrialTContCont, plot.FixedBinBinIT,
summary.FixedBinContIT, summary.FixedContBinIT, plot.FixedBinContIT, plot.FixedContBinIT, summary.SurvSurv,
plot.SurvSurv, summary.TrialLevelIT, plot.TrialLevelIT, summary.MaxEntICA.BinBin, plot.MaxEntICA.BinBin, 
plot.MaxEntSPF.BinBin, summary.MaxEntSPF.BinBin, plot.FixedDiscrDiscrIT,
plot.ICA.BinCont, summary.ICA.BinCont, summary.FixedDiscrDiscrIT, 
plot.Fano.BinBin, summary.Fano.BinBin,
plot.MaxEntContCont, summary.MaxEntContCont, 
plot.ICA.ContCont.MultS, summary.ICA.ContCont.MultS, summary.AA.MultS, 
plot.PPE.BinBin, plot.comb27.BinBin, summary.PPE.BinBin, summary.ECT)


S3method(plot, Fano.BinBin)
S3method(plot, UnifixedContCont)
S3method(plot, UnimixedContCont)
S3method(plot, BifixedContCont)
S3method(plot, BimixedContCont)
S3method(plot, FixedContContIT)
S3method(plot, ICA.ContCont)
S3method(plot, MICA.ContCont)
S3method(plot, MinSurrContCont)
S3method(plot, SPF.BinBin)
S3method(plot, Single.Trial.RE.AA)
S3method(plot, MixedContContIT)
S3method(plot, ICA.BinBin)
S3method(plot, TrialLevelMA)
S3method(plot, TwoStageSurvSurv)
S3method(plot, PredTrialTContCont)
S3method(plot, FixedBinBinIT)
S3method(plot, FixedBinContIT)
S3method(plot, FixedContBinIT)
S3method(plot, SurvSurv)
S3method(plot, TrialLevelIT)
S3method(plot, MaxEntICA.BinBin)
S3method(plot, MaxEntSPF.BinBin)
S3method(plot, FixedDiscrDiscrIT)
S3method(plot, ICA.BinCont)
S3method(plot, MaxEntContCont)
S3method(plot, ICA.ContCont.MultS)
S3method(plot, PPE.BinBin)
S3method(plot, comb27.BinBin)

S3method(summary, Fano.BinBin)
S3method(summary, UnifixedContCont)
S3method(summary, UnimixedContCont)
S3method(summary, BifixedContCont)
S3method(summary, BimixedContCont)
S3method(summary, FixedContContIT)
S3method(summary, MixedContContIT)
S3method(summary, ICA.BinBin)
S3method(summary, ICA.ContCont)
S3method(summary, MICA.ContCont)
S3method(summary, MinSurrContCont)
S3method(summary, SPF.BinBin)
S3method(summary, Single.Trial.RE.AA)
S3method(summary, TrialLevelMA)
S3method(summary, TwoStageSurvSurv)
S3method(summary, Prentice)
S3method(summary, PredTrialTContCont)
S3method(summary, FixedBinBinIT)
S3method(summary, FixedBinContIT)
S3method(summary, FixedContBinIT)
S3method(summary, SurvSurv)
S3method(summary, TrialLevelIT)
S3method(summary, MaxEntICA.BinBin)
S3method(summary, MaxEntSPF.BinBin)
S3method(summary, ICA.BinCont)
S3method(summary, FixedDiscrDiscrIT)
S3method(summary, MaxEntContCont)
S3method(summary, ICA.ContCont.MultS)
S3method(summary, AA.MultS)
S3method(summary, PPE.BinBin)
S3method(summary, ECT)